.button {
    display: block;
    vertical-align: top;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 0;
    border: none;
    @extend h3;

    font-size: 13px;

    @include breakpoint(medium up) {
        display: inline-block;
    }

    & + & {
        margin-left: rem-calc(10);

        @include breakpoint(medium up) {
            margin-top: 0;
            margin-left: rem-calc(20);
        }
    }

    &:hover {
        text-decoration: none;
    }

    &__primary {
        $button--hover: darken($color__cta--primary, 20%);
        @include hover-transition(button, $color__cta--primary, $button--hover)
        color: white;
        padding: rem-calc(10 50 5);

        &--small {
            font-size: 10px;
        }
    }

    &__secondary {
        $button--hover: darken($color__cta--secondary, 20%);
        @include hover-transition(button, $color__cta--secondary, $button--hover)
        color: black;
        padding: rem-calc(10 50 5);

        &--small {
            font-size: 10px;
        }

        &--incrementer,
        &--decrementer {
            display: inline-block;
            padding: rem-calc(10 10 0);
        }

        &--incrementer {
            margin-left: rem-calc(10);
        }

        &--decrementer {
            margin-right: rem-calc(10);
        }
    }

    &:disabled {
        @include hover-transition(button, $color__primary--mid, $color__primary--mid)
        color: black;
    }
}
