input {
    border: solid 1px $color__primary--mid;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color__primary--mid;

      @extend h5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color__primary--mid;

      @extend h5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color__primary--mid;

      @extend h5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color__primary--mid;

      @extend h5;
    }
}

label {
    @extend p;
}

.input {


    &__right {
        width: 50%;
        float: right;
    }

    &__left {
        width: 50%;
        float: left;
    }

    &__clear {
        clear: both;
    }

    &__required {

    }

    &__error {
        border: solid 1px $color__warning;
        background: lighten($color__warning, 20%);
        &--description {
            color: $color__warning;
        }
    }
}
