label {
    @extend p;
}

textarea {
    height: rem-calc(300);
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
[readonly],
textarea,
input {
    border: solid 1px $color__primary--mid;
    border-radius: 5px;

    @include placeholder($color__primary--mid) {
        font-family: $font__tertiary;
        font-style: italic;
    }
}

.input {

    &__valid {
        border: solid 1px $color__valid !important;
        background: lighten($color__valid, 20%);
    }

    &__right {
        width: 50%;
        float: right;
    }

    &__left {
        width: 50%;
        float: left;
    }

    &__clear {
        clear: both;
    }

    &__required {

    }

    &__copylink {
        background-image: url($img-icon-path + 'copy-link.png');
        background-repeat: no-repeat;
        background-position: 8px 50%;
    }

    &__error {
        border: solid 1px $color__warning;
        background: lighten($color__warning, 20%);

        @include placeholder($color__warning)

        &--description {
            color: $color__warning;
        }
    }
}
