label {
    @extend p;
}

textarea {
    height: rem-calc(300);
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
[readonly],
textarea,
input {
    border: solid 1px $color__primary--mid;
    border-radius: 5px;

    @include placeholder($color__primary--mid) {
        font-family: $font__tertiary;
        font-style: italic;
    }
}

.input {

    &__valid {
        border: solid 1px $color__valid !important;
        background: lighten($color__valid, 20%);
    }

        @include breakpoint(medium up) {
            &__right,
            &__left {
                width: 48%;

                &--large {
                    width: 65%;
                }

                &--small {
                    width: 31%;
                }
            }

            &__left {
                float: left;
            }

            &__right {
                float: right;
            }

            &__clear {
                clear: both;
            }
        }

    &__required {

    }

    &__error {
        border: solid 1px $color__warning;
        background: lighten($color__warning, 20%);

        @include placeholder($color__warning)

        &--description {
            color: $color__warning;
        }
    }
}
