.table {
    width: 100%;

    &--stackable {
        @extend table.stack;
    }

    &__row,
    thead,
    td {

        &--header {
            border-bottom: 1px solid $color__primary--dark;
        }
    }

    td {
        text-align: left;
    }
}
