.form {
    width: 70%;
    margin: rem-calc(30) auto 0;

    &__addAddress,
    &__editAddress {

        .find-address {
            margin-left: 4%;
        }
    }

    &--actions {
        clear: both;
        text-align: center;
    }
}


@include breakpoint(small only) {
    .address {

        &__buttons {

            &--button {
                display: inline-block;
                // margin-top: 0;
            }
        }
    }
}
