h1,
h2,
h3,
h4,
h5,
p,
li {
    color: $color__primary--dark;
}

h1,
h2,
h3 {
    font-family: $font__primary;
}

h4,
p,
li {
    font-family: $font__secondary;
}


a {
    font-family: inherit;
    text-decoration: none;
    @include hover-transition(text, $color__primary--dark, $color__primary--mid)
}

h5,
p,
li {

    & > a:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 20px;
    line-height: 50px;
}

h2 {
    font-size: 15px;
    line-height: 35px;
}

h3 {
    font-size: 10px;
    line-height: 25px;
}

h4 {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.025em;
}

h5 {
    font-family: $font__tertiary;
    font-style: italic;
    font-size: 15px;
    line-height: 20px;
}

p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.025em
}

span {
    font-family: inherit;
}

button,
a {
    outline: none;
}

.main-content-wrapper {
    padding: rem-calc(20 0);
}
