$font__primary: "freddiesflowerstitle-webfont", "Times", serif;
$font__secondary: "Courier Regular", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font__tertiary: Georgia, Times, "Times New Roman", serif;

$img-path: "../images/";
// $img-deco-path: $img-path + "";
// $img-content-path: $img-path +  "";
$img-svg-path: $img-path +  "svg/";
$img-icon-path: $img-path +  "icons/";

$color__background: #f2f2f2;
$color__primary: #ccc;
$color__primary--dark: #222;
$color__primary--mid: #959595;
$color__primary--light: #f4f4f4;
$color__warning: #C93F3F;
$color__button--primary: #60b4d6;
$color__button--secondary: #e5eef2;
