body.homepage {

    .hero {
        position: relative;

        &__image {

            @include breakpoint(small only) {
                display: block;
                margin: 0 auto;
            }
        }

        &__content {

            @include breakpoint(small only) {
                text-align: center;
            }

            @include breakpoint(medium up) {
                position: absolute;
                right: 0;
                top: 27%;
                width: 38%;
                padding-right: rem-calc(14);

                &--title {
                    margin-bottom: 0;

                    @include breakpoint(xlarge down) {
                        font-size: 1.5vw;
                        line-height: 4vw;
                    }
                }
            }
        }
    }

    .feature {

        &__title {

        }

        &__info {

        }
    }

    .postcode {

        &__wrapper {

            @include breakpoint(medium up) {
                $image: $img-deco-path + 'homepage-postcode-decoration.png';
                @include pseudo-el(after, 193px, 120px) {
                    background: url($image) no-repeat;
                    right: 160px;
                    bottom: -50px;
                }
            }
        }
    }

    .testimonial {

        &__info {

            &:before { content: open-quote; }
            &:after { content: close-quote; }
        }

        &__author {
            display: inline-block;
            text-align: right;
            float: right;

            @include pseudo-el(before, 20px, 20px) {
                content: "—";
                left: -30px;
                top: 0;
            }
        }
    }
}
