.footer {
    margin-top: rem-calc(50);
    
    &__company {
        margin: 0 auto;

        &--list {

        }

        @media #{$medium-up} {
            &--item {
                display: inline-block;
            }

            &--item + &--item {
                padding-left: 10%;

                @include pseudo-el(before, 5px, 30px) {
                    left: 36px;
                    top: 0;
                    content: " | ";
                }
            }
        }
    }
}
