.menu {
    position: relative;

    &__burger {
        // position: absolute;
        position: relative;
        bottom: 0;
        left: 0;

        &--bar {
            position: absolute;

            &:nth-child(2) { top: 5px }
            &:nth-child(3) { top: 10px }
        }

        &--title {
            position: relative;
            top: 8px;
            margin-left: rem-calc(30);
        }
    }
}

.contact {

    &__header {
        text-align: right;
        
        &--title {
            display: inline-block;
            margin-right: rem-calc(20);

            @include pseudo-el(after, 10px, 10px, "") {
                right: -30px;
                top: 0;
                content: "-";
            }
        }

        &--email {
            display: inline-block;
            margin-left: rem-calc(25);
        }
    }
}

.useraccess {
    margin-top: rem-calc(20);
    text-align: right;

    &__item {
        display: inline-block;

        & + & {
            margin-left: rem-calc(50);

            @include pseudo-el(before, 20px, 20px, "") {
                content: " | ";
                left: -45px;
                top: 0;
            }
        }

        &--register {

        }

        &--login {

        }
    }
}
